<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a , <%= @user.nombre %></h1>
    <p>
      Tu correo ha sido enviado satisfactoriamente y su identificador es:
      <%= @user.identificador %>.<br/>
    </p>
   
   
   
  </body>
</html>
