<%= form_for(@envio_correo) do |f| %>
  <% if @envio_correo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@envio_correo.errors.count, "error") %> prohibited this envio_correo from being saved:</h2>

      <ul>
      <% @envio_correo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
